In [1]:
import pandas as pd
import numpy as np

In [8]:
path = r'C:\Users\User\Desktop\University of Manchester\MSc Data Science\Semester 2\Dissertation\Dataset\IHDS data\IHDS_2012\IHDS_2012 csv file'
df = pd.read_csv(path + '/' + 'IHDS_2012_D0001_Individual_selected var.csv')

In [3]:
df.columns

Index(['SURVEY', 'STATEID', 'DISTID', 'PSUID', 'HHID', 'HHSPLITID', 'PERSONID',
       'IDPSU', 'IDHH', 'IDPERSON', 'WT', 'FWT', 'DIST01', 'DISTRICT', 'RO3',
       'RO4', 'RO5', 'RO6', 'RO7', 'RO8', 'RO9', 'RO10', 'FM38', 'NF13',
       'NF33', 'NF53', 'ID11', 'WS4', 'WS5', 'WS8', 'WKANY5', 'WKDAYS', 'NF1',
       'NFBN21', 'NFBN41'],
      dtype='object')

## Rename Variables

In [9]:
#rename age(RO5), sex(RO3), industry(WS5), occupation(WS4),work hr per day(WS8), father id(RO9), mother id(r10), relationship to head(RO4)
df = df.rename(columns={'RO5': 'age','RO3': 'sex', 'WS5':'industry', 'WS4': 'occup', 'WS8': 'wkhr_perday', 'RO9':'father_id', 'RO10':'mother_id','ID11':'religion', 'RO4':'relation_to_head','RO6':'mar_status', 'RO7':'activity_status', 'RO8':'spouse_id'})

## Drop and Impute Missing Values

In [10]:
# Check for missing values in differetnt columns
df.isna().sum()

SURVEY                   1
STATEID                  0
DISTID                   0
PSUID                    0
HHID                     0
HHSPLITID                0
PERSONID                 1
IDPSU                    0
IDHH                     0
IDPERSON                 1
WT                       1
FWT                      1
DIST01                 106
DISTRICT               106
sex                      1
relation_to_head         1
age                      4
mar_status               4
activity_status          4
spouse_id            92522
father_id            49598
mother_id            50099
FM38                158337
NF13                192574
NF33                203391
NF53                204462
religion                 2
occup               151117
industry            151269
wkhr_perday         151160
WKANY5                   1
WKDAYS                   1
NF1                      1
NFBN21                   1
NFBN41                   1
dtype: int64

In [5]:
df.info()
# 204569 entires before dropping na

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204569 entries, 0 to 204568
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   SURVEY            204568 non-null  object
 1   STATEID           204569 non-null  object
 2   DISTID            204569 non-null  int64
 3   PSUID             204569 non-null  int64
 4   HHID              204569 non-null  int64
 5   HHSPLITID         204569 non-null  int64
 6   PERSONID          204568 non-null  float64
 7   IDPSU             204569 non-null  int64
 8   IDHH              204569 non-null  int64
 9   IDPERSON          204568 non-null  float64
 10  WT                204568 non-null  float64
 11  FWT               204568 non-null  float64
 12  DIST01            204463 non-null  float64
 13  DISTRICT          204463 non-null  object
 14  sex               204568 non-null  object
 15  relation_to_head  204568 non-null  object
 16  age               204565 non-null  float64
 17  mar_status        204565 non-null  object
 18  activity_status   204565 non-null  object
 19  spouse_id         112047 non-null  object
 20  father_id         154971 non-null  object
 21  mother_id         154470 non-null  object
 22  FM38              46232 non-null   float64
 23  NF13              11995 non-null   float64
 24  NF33              1178 non-null    float64
 25  NF53              107 non-null     float64
 26  religion          204567 non-null  object
 27  occup             53452 non-null   object
 28  industry          53300 non-null   object
 29  wkhr_perday       53409 non-null   float64
 30  WKANY5            204568 non-null  object
 31  WKDAYS            204568 non-null  float64
 32  NF1               204568 non-null  object
 33  NFBN21            204568 non-null  object
 34  NFBN41            204568 non-null  object
dtypes: float64(12), int64(6), object(17)
memory usage: 54.6+ MB

In [11]:
# Drop the rows if they have NAs in PERSONID, IDPERSON, DIST01, DISTRICT, sex, relation_to_head, religion, age, mar_status, activity_status, religion, WKANY5, WKDAYS

columns_with_na = ['PERSONID', 'IDPERSON',  'sex', 'relation_to_head', 'religion', 'age', 'mar_status', 'activity_status', 'religion', 'WKANY5', 'WKDAYS'
]
df = df.dropna(axis=0, subset=columns_with_na)
# remove 'DIST01', 'DISTRICT'

In [12]:
df.info()
#204453 entries left

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204558 entries, 0 to 204568
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   SURVEY            204558 non-null  object
 1   STATEID           204558 non-null  object
 2   DISTID            204558 non-null  int64
 3   PSUID             204558 non-null  int64
 4   HHID              204558 non-null  int64
 5   HHSPLITID         204558 non-null  int64
 6   PERSONID          204558 non-null  float64
 7   IDPSU             204558 non-null  int64
 8   IDHH              204558 non-null  int64
 9   IDPERSON          204558 non-null  float64
 10  WT                204558 non-null  float64
 11  FWT               204558 non-null  float64
 12  DIST01            204453 non-null  float64
 13  DISTRICT          204453 non-null  object
 14  sex               204558 non-null  object
 15  relation_to_head  204558 non-null  object
 16  age               204558 non-null  float64
 17  mar_status        204558 non-null  object
 18  activity_status   204558 non-null  object
 19  spouse_id         112044 non-null  object
 20  father_id         154964 non-null  object
 21  mother_id         154463 non-null  object
 22  FM38              46231 non-null   float64
 23  NF13              11994 non-null   float64
 24  NF33              1178 non-null    float64
 25  NF53              107 non-null     float64
 26  religion          204558 non-null  object
 27  occup             53451 non-null   object
 28  industry          53299 non-null   object
 29  wkhr_perday       53408 non-null   float64
 30  WKANY5            204558 non-null  object
 31  WKDAYS            204558 non-null  float64
 32  NF1               204558 non-null  object
 33  NFBN21            204558 non-null  object
 34  NFBN41            204558 non-null  object
dtypes: float64(12), int64(6), object(17)
memory usage: 56.2+ MB

In [7]:
# Check the missing values of different variables again
df.isna().sum()

SURVEY                   0
STATEID                  0
DISTID                   0
PSUID                    0
HHID                     0
HHSPLITID                0
PERSONID                 0
IDPSU                    0
IDHH                     0
IDPERSON                 0
WT                       0
FWT                      0
DIST01                   0
DISTRICT                 0
sex                      0
relation_to_head         0
age                      0
mar_status               0
activity_status          0
spouse_id            92460
father_id            49569
mother_id            50070
FM38                158246
NF13                192459
NF33                203275
NF53                204346
religion                 0
occup               151036
industry            151188
wkhr_perday         151079
WKANY5                   0
WKDAYS                   0
NF1                      0
NFBN21                   0
NFBN41                   0
dtype: int64

In [8]:
df['occup'].fillna('999', inplace=True)

In [9]:
df[df['occup'].str.contains('41')]['occup']

2281      Manuf agents 41
3073      Manuf agents 41
5024      Manuf agents 41
5820      Manuf agents 41
11429     Manuf agents 41
               ...
197075    Manuf agents 41
198566    Manuf agents 41
199752    Manuf agents 41
199921    Manuf agents 41
202575    Manuf agents 41
Name: occup, Length: 82, dtype: object

In [10]:
# Impute missing values for wkhr_perday, FM38, NF13, NF33, NF53, occup, industry, father_id, mother_id
df['wkhr_perday'].fillna(0, inplace=True)
df['FM38'].fillna(0, inplace=True)
df['NF13'].fillna(0, inplace=True)
df['NF33'].fillna(0, inplace=True)
df['NF53'].fillna(0, inplace=True)
# assign 999 to impute missing values in occup, industry, father_id and mother_id to represent none 
df['occup'].fillna(999, inplace=True)
df['industry'].fillna(999, inplace=True)
df['father_id'].fillna(999, inplace=True)
df['mother_id'].fillna(999, inplace=True)

In [11]:
# Limit the range of wkhr_perday, FM38, NF13, NF33, NF53 (set the maximum as 16 hours per day)
df['wkhr_perday'].value_counts()
df['FM38'].value_counts()
df['NF13'].value_counts()
df['NF33'].value_counts()
df['NF53'].value_counts()

0.0     204346
8.0         20
2.0         16
6.0         15
4.0         14
3.0          8
9.0          8
10.0         7
12.0         7
5.0          5
1.0          4
7.0          3
Name: NF53, dtype: int64

## Encode existing variables using new matching of values and labels

In [12]:
# Sex
df['sex'].value_counts()
# Replace Female 2 with 1, Male 1 with 0
df['sex'] = df['sex'].replace(['Female 2', 'Male 1'],[1, 0])
df['sex'].value_counts()

1    102451
0    102002
Name: sex, dtype: int64

In [13]:
# Occupation
df['occup'].value_counts()

# remove all the space characters in occup
df['occup'] = df['occup'].replace(' ','')

# remove all the string characters in occup, leaving only the NOC code
df['occup'] = df['occup'].str.replace('\D','', regex = True)

# impute NA with 999
df['occup'].fillna(999, inplace=True)

In [14]:
df['occup'].value_counts()

999    151036
63      15295
95      13623
98       2197
15       2076
        ...
5           7
11          3
67          3
10          2
6           1
Name: occup, Length: 93, dtype: int64

In [15]:
# Occupation
df['industry'].value_counts()

# remove all the space characters in occup
df['industry'] = df['industry'].replace(' ','')

# remove all the string characters in occup, leaving only the NIC code
df['industry'] = df['industry'].str.replace('\D','', regex = True)

In [16]:
df['industry'].value_counts()

0     15496
50    13127
92     2753
70     2559
37     1800
      ...
13       13
98        9
84        8
4         5
14        3
Name: industry, Length: 69, dtype: int64

## Compute new variables

In [17]:
#dayhours?
#dayhours =  FM38+ NF13 + NF33+ NF53+ wkhr_perday
#df['dayhours'] = df['FM38'] + df['NF13'] + df['NF33'] + df['NF53'] + df['wkhr_perday']
#df['dayhours'].value_counts()

In [18]:
# age groups
# define age_group function
def age_group(x):
    if x <=4:
        return 0
    elif x>=5 and x <=11:
        return 1
    elif x>=12 and x <=14:
        return 2
    elif x>=15 and x <=17:
        return 3
    else:
        return 4
# apply age_group function on df['age'] to create new column 'age_gp'
df['age_gp'] = df['age'].apply(age_group)

In [19]:
# total_wk_hr
# total_wk_hr = wkhr_perday * 7
df['total_wk_hr'] = df['wkhr_perday']*7
df['total_wk_hr'].value_counts()

0.0      151079
56.0      37046
42.0       3977
70.0       2761
49.0       2465
63.0       2026
84.0       1487
35.0       1475
28.0       1077
21.0        336
14.0        260
77.0        158
112.0       115
7.0          80
98.0         44
105.0        38
91.0         29
Name: total_wk_hr, dtype: int64

In [20]:
#unique_father_id_from_son and unique_father_id_from_father
df['father_id'].value_counts()

# Assign 99 to replace the string values in father_id
df['father_id'] = df['father_id'].replace(['Dead','IF Spouse/Parent outside for more than 6 months'],[99,99])

# Convert the dtype of PERSONID
df['PERSONID'] = df['PERSONID'].astype(int)

# Compute unique_father_id_from_son
# use np.int64 as dtype instead of int, otherwise there will be value error
df['unique_father_id_from_spouse'] = df['IDHH'].apply(str) + df['father_id'].apply(str)
df['unique_father_id_from_spouse'] = df['unique_father_id_from_spouse'].astype(np.int64)

# Compute unique_father_id_from_father
df['unique_father_id_from_father'] = df['IDHH'].apply(str) + df['PERSONID'].apply(str)
df['unique_father_id_from_father'] = df['unique_father_id_from_father'].astype(np.int64)

In [21]:
#unique_mother_id_from_son and unique_mother_id_from_mother
df['mother_id'].value_counts()

# Assign 99 to replace the string values in mother_id
df['mother_id'] = df['mother_id'].replace(['Dead','IF Spouse/Parent outside for more than 6 months'],[99,99])

# Convert the dtype of PERSONID
df['PERSONID'] = df['PERSONID'].astype(int)

# Compute unique_mother_id_from_spouse
# use np.int64 as dtype instead of int, otherwise there will be value error
df['unique_mother_id_from_spouse'] = df['IDHH'].apply(str) + df['mother_id'].apply(str)
df['unique_mother_id_from_spouse'] = df['unique_mother_id_from_spouse'].astype(np.int64)

# Compute unique_mother_id_from_spouse
#df['unique_father_id_from_father'] = int(str(df['IDHH'])+str(df['PERSONID']))
df['unique_mother_id_from_mother'] = df['IDHH'].apply(str) + df['PERSONID'].apply(str)
df['unique_mother_id_from_mother'] = df['unique_mother_id_from_mother'].astype(np.int64)

In [22]:
# Hazardousness
# has to categorise different occupations according to the hazardous work list first
hazard_occ_list = [24,71,50,51,52,53,54,66,72,73,74,75,76,78,80,81,82,85,87,88,89,90,91,92]
# Create a new column hazard to indicate the hazardousness of the occupation
def hazard_occup(x):
    hazard_occ_list = ['24','71','50','51','52','53','54','66','72','73','74','75','76','78','80','81','82','85','87','88','89','90','91','92']
    if x != '':
        if x in(hazard_occ_list):
            return 1
        else:
            return 0
df['hazard'] = df['occup'].apply(hazard_occup) 
# Impute NA with 0
df['hazard'].fillna(0, inplace=True)
# Convert the dtype of df['hazard']
df['hazard'] = df['hazard'].astype(np.int64)

In [23]:
df['hazard'].value_counts()

0    197647
1      6806
Name: hazard, dtype: int64

In [24]:
#df.to_csv(path + '/' +'IHDS_2012_cleaning data.csv')

In [25]:
# Dependent variable: Incidence of Child Labour (CL_incidence)
# Use np.select to create new column representing incidence of child labour
conditions = [
    ((df['hazard'] == 1) & (df['age_gp'] >=1) & (df['age_gp'] <=3)),
    ((df['age_gp'] == 1) & (df['total_wk_hr'] >=1)),
    ((df['age_gp'] == 2) & (df['total_wk_hr'] >=14)),
    ((df['age_gp'] == 3) & (df['total_wk_hr'] >=43))
]
choices = [1, 1, 1, 1]
# create CL_incidence
df['CL_incidence'] = np.select(conditions, choices, 0)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204453 entries, 0 to 204568
Data columns (total 43 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   SURVEY                        204453 non-null  object
 1   STATEID                       204453 non-null  object
 2   DISTID                        204453 non-null  int64
 3   PSUID                         204453 non-null  int64
 4   HHID                          204453 non-null  int64
 5   HHSPLITID                     204453 non-null  int64
 6   PERSONID                      204453 non-null  int32
 7   IDPSU                         204453 non-null  int64
 8   IDHH                          204453 non-null  int64
 9   IDPERSON                      204453 non-null  float64
 10  WT                            204453 non-null  float64
 11  FWT                           204453 non-null  float64
 12  DIST01                        204453 non-null  float64
 13  DISTRICT                      204453 non-null  object
 14  sex                           204453 non-null  int64
 15  relation_to_head              204453 non-null  object
 16  age                           204453 non-null  float64
 17  mar_status                    204453 non-null  object
 18  activity_status               204453 non-null  object
 19  spouse_id                     111993 non-null  object
 20  father_id                     204453 non-null  object
 21  mother_id                     204453 non-null  object
 22  FM38                          204453 non-null  float64
 23  NF13                          204453 non-null  float64
 24  NF33                          204453 non-null  float64
 25  NF53                          204453 non-null  float64
 26  religion                      204453 non-null  object
 27  occup                         204453 non-null  object
 28  industry                      53265 non-null   object
 29  wkhr_perday                   204453 non-null  float64
 30  WKANY5                        204453 non-null  object
 31  WKDAYS                        204453 non-null  float64
 32  NF1                           204453 non-null  object
 33  NFBN21                        204453 non-null  object
 34  NFBN41                        204453 non-null  object
 35  age_gp                        204453 non-null  int64
 36  total_wk_hr                   204453 non-null  float64
 37  unique_father_id_from_spouse  204453 non-null  int64
 38  unique_father_id_from_father  204453 non-null  int64
 39  unique_mother_id_from_spouse  204453 non-null  int64
 40  unique_mother_id_from_mother  204453 non-null  int64
 41  hazard                        204453 non-null  int64
 42  CL_incidence                  204453 non-null  int32
dtypes: float64(12), int32(2), int64(13), object(16)
memory usage: 67.1+ MB

In [27]:
# df_child['CL_incidence'].isna().sum()

NameError: name 'df_child' is not defined

In [28]:
# binomial multiple logistic regression
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(random_state=42)

# create the training and testing data
df_child = df[(df['age_gp'] >=1) & (df['age_gp'] <=3)]
df_child = df_child[['sex','age', 'religion','CL_incidence','IDHH']]

# create dummy variables for religion
from sklearn import preprocessing
encoder = preprocessing.OneHotEncoder(sparse = False)
encoder.fit(df_child[['religion']])
encoder.transform(df_child[['religion']])
df_child[encoder.get_feature_names_out()] = encoder.transform(df_child[['religion']])
df_child = df_child.drop(columns = 'religion')
df_child

# split the data for training and testing
response = df_child['CL_incidence']
feature = df_child.drop(columns=['CL_incidence','IDHH'])

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature, response, test_size = 0.1)

# fit the model with data
logreg.fit(X_train, y_train)

# evaluate the model
from sklearn.model_selection import cross_val_score
scores = cross_val_score(logreg, X_train, y_train, cv = 10)
print(f'10-fold CV score: {scores.mean():.3f} +/- {scores.std():.3f}')
print(f'The score on test data: {logreg.score(X_test, y_test)}')

# Print the model result summary
import statsmodels.api as sm
logit_model=sm.Logit(y_train, X_train)
result=logit_model.fit()
print(result.summary())

C:\Users\User\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

10-fold CV score: 0.968 +/- 0.000
The score on test data: 0.9662398137369034
Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.110904
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:           CL_incidence   No. Observations:                46379
Model:                          Logit   Df Residuals:                    46368
Method:                           MLE   Df Model:                           10
Date:                Mon, 03 Jul 2023   Pseudo R-squ.:                  0.2225
Time:                        03:01:10   Log-Likelihood:                -5143.6
converged:                      False   LL-Null:                       -6615.8
Covariance Type:            nonrobust   LLR p-value:                     0.000
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
sex                     -0.6617      0.057    -11.563      0.000      -0.774      -0.550
age                      0.5533      0.015     38.081      0.000       0.525       0.582
religion_Buddhist 5    -10.4647      0.400    -26.193      0.000     -11.248      -9.682
religion_Christian 3   -11.0967      0.311    -35.665      0.000     -11.707     -10.487
religion_Hindu 1       -10.7565      0.225    -47.711      0.000     -11.198     -10.315
religion_Jain 6        -26.2678   1445.597     -0.018      0.986   -2859.586    2807.050
religion_Muslim 2      -10.4169      0.230    -45.269      0.000     -10.868      -9.966
religion_None 9        -25.9474   3735.755     -0.007      0.994   -7347.892    7295.998
religion_Others 8       -9.5193      0.689    -13.809      0.000     -10.870      -8.168
religion_Sikh 4        -10.6595      0.281    -37.867      0.000     -11.211     -10.108
religion_Tribal 7      -11.2188      0.567    -19.802      0.000     -12.329     -10.108
========================================================================================

C:\Users\User\anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [29]:
# merge with houshold dataset to get the household features
# read the household dataset csv file
df_hh = pd.read_csv(path + '/' + 'IHDS_2012_D0002_Household.csv')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (64,167,168,169,170,171,182,183,195,226,420,447,514,616,622,635,642,644,694) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
df_hh.columns

Index(['SURVEY', 'STATEID', 'DISTID', 'PSUID', 'HHID', 'HHSPLITID', 'IDPSU',
       'IDHH', 'WT', 'INDWT',
       ...
       'NWKANY5', 'INCNONAG', 'INCAGLAB', 'INCSALARY', 'INCNREGA',
       'INCNONNREGA', 'NNR', 'HHEDUC', 'HHEDUCM', 'HHEDUCF'],
      dtype='object', length=758)

In [31]:
selected_var = ['SURVEY', 'STATEID', 'DISTID', 'PSUID', 'HHID', 'HHSPLITID', 
       'IDPSU', 'IDHH', 'WT', 'FWT', 'DIST01', 'DISTRICT','NPERSONS','ID13',
        'HHEDUC', 'POOR', 'COPC', 'SATOILET', 'WATER']
df_hh = df_hh[selected_var]

In [ ]:
#df_hh.to_csv(path+'/'+ 'IHDS_2012_Household_selected_var.csv')

In [32]:
df_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42152 entries, 0 to 42151
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SURVEY     42152 non-null  object
 1   STATEID    42152 non-null  object
 2   DISTID     42152 non-null  int64
 3   PSUID      42152 non-null  int64
 4   HHID       42152 non-null  int64
 5   HHSPLITID  42152 non-null  int64
 6   IDPSU      42152 non-null  int64
 7   IDHH       42152 non-null  int64
 8   WT         42152 non-null  float64
 9   FWT        42152 non-null  int64
 10  DIST01     42152 non-null  int64
 11  DISTRICT   42152 non-null  object
 12  NPERSONS   42152 non-null  int64
 13  ID13       42066 non-null  object
 14  HHEDUC     42141 non-null  object
 15  POOR       42129 non-null  object
 16  COPC       42129 non-null  float64
 17  SATOILET   41978 non-null  object
 18  WATER      41995 non-null  object
dtypes: float64(2), int64(9), object(8)
memory usage: 6.1+ MB

In [33]:
#merge two datasets by using householdID
df_merged = df_child.merge(df_hh, how='inner', on = 'IDHH')

In [34]:
df_merged.to_csv(path+'/'+'IHDS_2012_merged.csv')

In [35]:
df = df_merged

In [36]:
#Impute and Encode variables
# WATER

# remove all the space characters in water
df['WATER'] = df['WATER'].replace(' ','')

# remove all the string characters in water
df['WATER'] = df['WATER'].str.replace('\D','', regex = True)

# impute NA with 0
df['WATER'].fillna(method = 'bfill', inplace =True)

In [37]:
df['WATER'] = df['WATER'].astype(np.int64)
df['WATER'].isna().sum()

0

In [38]:
# POOR

# remove all the space characters in water
df['POOR'] = df['POOR'].replace(' ','')

# remove all the string characters in water
df['POOR'] = df['POOR'].str.replace('\D','', regex = True)

# impute NA with backfill
df['POOR'].fillna(method='bfill', inplace = True)

In [39]:
df['POOR'] = df['POOR'].astype(np.int64)
df['POOR'].isna().sum()

0

In [40]:
df['COPC'].fillna(df['COPC'].mean(), inplace = True)
df['COPC'].isna().sum()

0

In [41]:
# Binomial multiple logistic regression 2
# instantiate the model (using the default parameters)
logreg = LogisticRegression(random_state=42)

# split the data for training and testing
response = df['CL_incidence']
feature = df[['sex', 'age', 'religion_Hindu 1', 'religion_Muslim 2', 'religion_Christian 3', 'religion_Sikh 4', 'religion_Buddhist 5','religion_Jain 6', 'religion_Tribal 7', 'religion_Others 8', 'religion_None 9', 'POOR', 'WATER', 'COPC']]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature, response, test_size = 0.1)

# fit the model with data
logreg.fit(X_train, y_train)

# evaluate the model
from sklearn.model_selection import cross_val_score
scores = cross_val_score(logreg, X_train, y_train, cv = 10)
print(f'10-fold CV score: {scores.mean():.3f} +/- {scores.std():.3f}')
print(f'The score on test data: {logreg.score(X_test, y_test)}')

# Print the model result summary
import statsmodels.api as sm
logit_model=sm.Logit(y_train, X_train)
result=logit_model.fit()
print(result.summary())

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

10-fold CV score: 0.967 +/- 0.000
The score on test data: 0.9691501746216531
Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.105411
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:           CL_incidence   No. Observations:                46379
Model:                          Logit   Df Residuals:                    46365
Method:                           MLE   Df Model:                           13
Date:                Mon, 03 Jul 2023   Pseudo R-squ.:                  0.2667
Time:                        03:02:30   Log-Likelihood:                -4888.9
converged:                      False   LL-Null:                       -6666.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
sex                     -0.7306      0.058    -12.584      0.000      -0.844      -0.617
age                      0.6017      0.015     39.581      0.000       0.572       0.632
religion_Hindu 1       -10.6862      0.244    -43.824      0.000     -11.164     -10.208
religion_Muslim 2      -10.4315      0.249    -41.975      0.000     -10.919      -9.944
religion_Christian 3   -10.8540      0.331    -32.813      0.000     -11.502     -10.206
religion_Sikh 4        -10.2226      0.302    -33.889      0.000     -10.814      -9.631
religion_Buddhist 5    -10.3033      0.399    -25.846      0.000     -11.085      -9.522
religion_Jain 6        -27.6343   3775.511     -0.007      0.994   -7427.500    7372.232
religion_Tribal 7      -11.5096      0.580    -19.834      0.000     -12.647     -10.372
religion_Others 8       -9.3923      0.731    -12.845      0.000     -10.825      -7.959
religion_None 9        -26.3734   4534.007     -0.006      0.995   -8912.863    8860.116
POOR                     0.3789      0.072      5.261      0.000       0.238       0.520
WATER                   -0.5262      0.075     -7.020      0.000      -0.673      -0.379
COPC                 -3.963e-05   3.61e-06    -10.990      0.000   -4.67e-05   -3.26e-05
========================================================================================

C:\Users\User\anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "